<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초보농부 나만 믿어!</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>초보농부 나만 믿어!</h1>
    <h6>About Us</h6>
    
    <h3>SENSOR</h3>
    <form action="/" method="GET">
        <label for="temperature">기온</label>
        <input type="number" id="temperature">
        <label for="sun">일사량</label>
        <input type="number" id="sun">
        <label for="CO2">이산화탄소 농도</label>
        <input type="number" id="CO2">
        <label for="land_moist">지습</label>
        <input type="number" id="land_moist">
        <input type="submit" value="submit" name="action"/>
    </form>
</body>
</html>