<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초보농부 나만 믿어!</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>초보농부 나만 믿어!</h1>
    <h6>About Us</h6>
    <h3>SENSOR</h3>
    <form action="/search" method="GET">
        <input type="number" name="sun" placeholder="일사량" required>
        <input type="number" name="temperature" placeholder="기온" required>
        <input type="number" name="humidity" placeholder="습도" required>
        <input type="number" name="CO2" placeholder="이산화탄소 농도" required>
        <input type="number" name="land_moist" placeholder="지습" required>
        <input type="submit" value="submit" name="action"/>
    </form>
</body>
</html>