<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paprika Pricing</title>
    <link rel="stylesheet" href="css/pprice.css">
</head>
<body>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-3d.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <h1>파프리카</h1>
    <div>
        <h3>도매가(2021년)</h3>
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Chart designed to show the difference between 0 and null in a 3D column
                chart. A null point represents missing data, while 0 is a valid value.
            </p>
        </figure>
        <script>
            Highcharts.chart('container', {
                chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 25,
                    depth: 70
                    }
                },
                title: {
                    text: 'External trade in goods by country, Norway 2021'
                },
                subtitle: {
                    text: 'Source: ' +
                        '<a href="https://www.ssb.no/en/statbank/table/08804/"' +
                        'target="_blank">SSB</a>'
                },
                plotOptions: {
                    column: {
                        depth: 25
                    }
                },
                xAxis: {
                    categories: ['Belgium', 'China', 'Denmark', 'Fiji', 'Germany', 'Netherlands', 'Russia',
                        'Sweden', 'Turkey', 'United States', 'Unspecified', 'Vietnam'],
                    labels: {
                        skew3d: true,
                        style: {
                            fontSize: '16px'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'NOK (million)',
                        margin: 20
                    }
                },
                tooltip: {
                    valueSuffix: ' MNOK'
                },
                series: [{
                    name: 'Total imports',
                    data: [16076, 112688, 39452, 0, 94352,
                        30495, 21813, 95908, 11596, 53771, null, 8270]
                }]
            });
        </script>
    </div>

    <div>
        <h3>소매가(2021년)</h3>

    </div>
    
</body>
</html>