<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato</title>
    <style>
        img {
            width: 50%;
        }
    </style>
</head>
<body>
    <div>
        <h1>토마토</h1>
        <form action="/tpricing">
            <button>가격정보와 소비량</button>
        </form>
        <form action="/distribution">
            <button>판매 채널</button>
        </form>
    </div>
    
</body>
</html>